<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array/>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict/>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>c14b891dca7bb1d1ac856bf32d0396c64b68ff0cb7b83795f6a30bbf6fd6b3b5</key>
			<integer>5</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>c14b891dca7bb1d1ac856bf32d0396c64b68ff0cb7b83795f6a30bbf6fd6b3b5</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
